.App {
  text-align: center;
}

.container {
  text-align: center;
  justify-items: center;
  align-items: center;
}

.court {
  background-image: url("assets/court.png");
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.court-cell {
  align-items: center;
  justify-content: center;
}

@media (pointer: fine) {
  .court-cell:hover {
    background-color: aliceblue;
    opacity: 0.5;
  }
}

.court-mark-x {
  color: royalblue;
  font-size: xx-large;
  font-weight: 500;
}

.court-row {
  position: relative;
  padding-left: 0;
  text-align: center;
  display: flex;
  width: 100%;
}

.shot-button {
  width: 20px;
  height: 20px;
}

.shotlist-item {
  width: 100%;
  border: 1px solid gray;
}

.test {
  border: 1px solid black;
  width: 100%;
}

.test-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid black;
}

.test-list {
  height: 85%;
  overflow-y: scroll;
}
