.App {
  text-align: center;
  overflow-x: hidden;
}

.container {
  text-align: center;
  justify-items: center;
  align-items: center;
}

.court {
  background-image: url("assets/court2.png");
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.court-cell {
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media (pointer: fine) {
  .court-cell:hover {
    background-color: rgb(240, 248, 255, 0.5);
  }
}

.court-mark,
.court-mark-profile {
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.court-mark {
  font-size: xx-large;
}

.court-mark-profile {
  font-size: calc(8px + 1vw);
}

.court-row {
  position: relative;
  padding-left: 0;
  text-align: center;
  display: flex;
  width: 100%;
}

.shot-button {
  width: 20px;
  height: 20px;
}

.shotlist-item {
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
}

.shotlist-title {
  font-weight: 500;
}

.list-container {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  width: 100%;
}

.list-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid black;
}

.list-list {
  height: 85%;
  overflow-y: scroll;
}

@media (max-width: 576px) {
  .court-mark {
    font-size: large;
    font-weight: 300;
  }
}
